@mixin circle {
    &:before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    background: $main-color;
    top: -24%;
    left: 3px;
    animation: circle_anim 3.3s ease-in-out infinite;
    }
}

@mixin underline {
    &:before {
        content: '';
        position: absolute;
        width: 67px;
        border: 1px solid $divider-color;
        top: 47px;
        left: 22px;
        transition: 0.4s all;
    }
}

@mixin underline_w {
    &:before {
        content: '';
        position: absolute;
        width: 377px;
        border: 1px solid $divider-color;
        top: 47px;
        left: 22px;
        transition: 1.3s all;
    }
}