@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'base/animations';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/bio';
@import 'blocks/resume';
@import 'blocks/skills';




* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 67px;
    border: 2px solid $divider-color;
    margin: 25px auto 0 auto;
}