.bio {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
        .divider {
            margin: 0;
        }
    }
    &__img {
        width: 400px;
        height: 600px;
        grid-column: 1;
        grid-row: 1/3;
        justify-self: start;
    }
    &__title {
        position: relative;
        @include circle;
        padding-left: 12px;
        padding-top: 1px;
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin-top: 4px;
        }
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 20px;
        row-gap: 50px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            @include circle;
            padding: 9px 0 0 13px;
            &:before {
                top: 0;
                animation-play-state: paused;
                width: 35px;
                height: 35px;
            }
        }
        &-text {
            margin-top: 6px;
            font-size: 12px;
            line-height: 18px;
        }
    }

/*     min-height: 840px;
    &__img {
        width: 400px;
        height: 600px;
        grid-column: 1;
        grid-row: 1/3;
        justify-self: start;
    }
    &__subtitle {
        grid-column: 2/3;
        grid-row: 1;
        align-self: start;
    }
    &__title {
        grid-row: 1;
        grid-column: 2/3;
        align-self: start;
    }
    &__text {
        grid-row: 1;
        grid-column: 2/3;
    }


    &__divider {
        width: 60px;
        border: 2px solid $divider-color;
        grid-row: 1;
        grid-column: 2/3;
        align-self: start;
    }
}

.bio__descr {
    display: grid;
    width: 1040px;
    height: 600px;
    grid-template-columns: 400px 1fr;
    grid-template-rows: repeat(2, 300px);
    column-gap: 70px;
    align-items: center; */
}