.sidepanel {
    /* opacity: 0.7; */
    animation: socials 3.3s ease-out infinite;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 400px;
    margin-top: 266px;
    transform: rotate(-90deg) translate(-40%, -750%);
    &__link {
        /* display: flex; */
        margin-left: 19px;
        transition: 0.5s all;
        border-radius: 100%;
        &:hover {
            box-shadow: 0 0 24px #fff;
            
        }
    }
    &__divider {
        width: 90px;
        border: 1px solid $divider-color;
        height: 1px;
        display: block;
        margin: 5px auto 0 auto; 
    }
}